#result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
  width: min(100%, 700px);
}

.image-container {
  margin-bottom: 20px;
  width: min(80vw, 250px);
  aspect-ratio: 1 / 1;
}

.sign-image {
  width: 100%;
  height: 100%;
  transform: scale(1.6);
  transform-origin: center;
}

.sign-title,
.sign-date {
  margin: 10px 0px;
}

.sign-title {
  color: var(--secondary-color);
  font-size: 50px;
  letter-spacing: 4px;
  font-weight: bold;
}

.sign-date {
  color: var(--text-color);
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 100;
  font-family: "Outfit", sans-serif;
}

.sign-components {
  display: flex;
  margin: 20px 0px;
  gap: 40px;
}

.dropdown-wrapper {
  position: relative;
  display: inline-block;
}

.component-label {
  margin-bottom: 10px;
  padding: 10px 0px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 30px;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: bold;
}

.component-container,
.component-label {
  width: 200px;
}

.component-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  aspect-ratio: 1 / 1;
  background-color: var(--disabled-color);
  border-radius: 20px;

  visibility: hidden;
  opacity: 0;
  transform: translateY(-15px);
  transition:
    opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0.3s;
}

.component-label.is-changed {
  color: var(--secondary-color);
  background-color: transparent;
  font-size: 28px;
  border: none;
}

.component-container.is-open {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.component-image {
  width: 100px;
  height: 100px;
}

#planet-image {
  transform: scale(1.6);
}

.component-title {
  color: var(--text-color);
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: "Outfit", sans-serif;
}

.content-container {
  margin-top: 0px;
  margin-bottom: 20px;
}

.content-title {
  margin: 10px 0px;
  color: var(--secondary-color);
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: bold;
}

.content-description {
  text-align: justify;
  text-indent: 40px;
  color: var(--text-color);
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 100;
  font-family: "Outfit", sans-serif;
}
